## Buscamos el mejor Naïve Bayes(Gaussiano, Multinomial, Bernoulli).

Hacemos los imports necesarios.

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, MinMaxScaler
from sklearn.naive_bayes import GaussianNB, MultinomialNB, BernoulliNB
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.metrics import accuracy_score, classification_report

Leemos el csv.

In [27]:
df = pd.read_csv("Customer_Behaviour.csv")

In [28]:
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

Convertimos los datos a numéricos.

In [29]:
encoder = OneHotEncoder()

colegios_valores_encoded = encoder.fit_transform(df[["Gender"]])
colegios_columnas_encoded = encoder.get_feature_names_out(["Gender"])
encoded_df = pd.DataFrame(colegios_valores_encoded.toarray(), columns=colegios_columnas_encoded)

df = pd.concat([df, encoded_df], axis=1)
df = df.drop(columns=["Gender"])

In [36]:
df

      User ID  Age  EstimatedSalary  Purchased  Gender_Female  Gender_Male
0    15624510   19            19000          0            0.0          1.0
1    15810944   35            20000          0            0.0          1.0
2    15668575   26            43000          0            1.0          0.0
3    15603246   27            57000          0            1.0          0.0
4    15804002   19            76000          0            0.0          1.0
..        ...  ...              ...        ...            ...          ...
395  15691863   46            41000          1            1.0          0.0
396  15706071   51            23000          1            0.0          1.0
397  15654296   50            20000          1            1.0          0.0
398  15755018   36            33000          0            0.0          1.0
399  15594041   49            36000          1            1.0          0.0

[400 rows x 6 columns]

Dividimos el dataset en datos y objetivos.

In [30]:
X = df[["Gender_Female", "Gender_Male", "Age", "EstimatedSalary"]]
Y = df["Purchased"]

In [31]:
X_train, X_test, Y_train, Y_test = train_test_split(
    X, Y, test_size=0.2, random_state=42)

Escalamos los datos.

In [ ]:
scaler = MinMaxScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

Creamos el modelo de naive bayes gaussiano.

In [34]:
gaussian = GaussianNB()

gaussian.fit(X_train, Y_train)

y_pred = gaussian.predict(X_test)

accuracy = accuracy_score(Y_test, y_pred)
report = classification_report(Y_test, y_pred)

print(f"Precisión del modelo: {accuracy:.2f}")
print("Reporte de clasificación:")
print(report)

Precisión del modelo: 0.93
Reporte de clasificación:
              precision    recall  f1-score   support

           0       0.93      0.96      0.94        52
           1       0.92      0.86      0.89        28

    accuracy                           0.93        80
   macro avg       0.92      0.91      0.92        80
weighted avg       0.92      0.93      0.92        80

Creamos el modelo de naive bayes multinomial.

In [35]:
multinomial = MultinomialNB()

multinomial.fit(X_train, Y_train)

y_pred = multinomial.predict(X_test)

accuracy = accuracy_score(Y_test, y_pred)
report = classification_report(Y_test, y_pred)

print(f"Precisión del modelo: {accuracy:.2f}")
print("Reporte de clasificación:")
print(report)

ValueError: Negative values in data passed to MultinomialNB (input X)

Creamos el modelo de naive bayes de Bernoulli.

In [ ]:
bernoulli = BernoulliNB()

bernoulli.fit(X_train, Y_train)

y_pred = bernoulli.predict(X_test)

accuracy = accuracy_score(Y_test, y_pred)
report = classification_report(Y_test, y_pred)

print(f"Precisión del modelo: {accuracy:.2f}")
print("Reporte de clasificación:")
print(report)

Precisión del modelo: 0.65
Reporte de clasificación:
              precision    recall  f1-score   support

           0       0.65      1.00      0.79        52
           1       0.00      0.00      0.00        28

    accuracy                           0.65        80
   macro avg       0.33      0.50      0.39        80
weighted avg       0.42      0.65      0.51        80

c:\Users\martin.rodriguezgonz\AppData\Local\miniconda3\envs\ia\Lib\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
c:\Users\martin.rodriguezgonz\AppData\Local\miniconda3\envs\ia\Lib\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
c:\Users\martin.rodriguezgonz\AppData\Local\miniconda3\envs\ia\Lib\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))

#### El mejor modelo es el gaussiano para este dataset.